* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(87, 87, 87);
}

.prix-app {
    width: 849px;
    height: 443px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

}

.app-item {
    width: 265px;
    height: 135px;
    border: 1px solid #ccc;
    padding: 14px;
}

.item-tour {

}

.item-aller {

}

.item-retour {

}

.item-prix {
    color: orange;

}

.item-reservation {

}

